/* Background */
.home {
  
  min-height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0c4b2b;
}

.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar-links li a,
.nav-btn {
  text-decoration: none;
  color: rgb(11, 12, 12);
  font-weight: 500;
}

.nav-btn {
  border: 1px solid white;
  padding: 6px 14px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-btn:hover {
  background: white;
  color: #0c4b2b;
}

/* Hero section */
.hero {
  margin-top: 100px;
  padding: 0 20px;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
}

.highlight {
  color: #4ade80; /* green */
}

.home-description {
  max-width: 700px;
  margin: 20px auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

.home-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.home-btn {
  background: #0c4b2b;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.home-btn:hover {
  background: #4ade80;
  color: #0c4b2b;
}

.home-btn.alt {
  background: white;
  color: #0c4b2b;
}

.home-btn.alt:hover {
  background: #4ade80;
  color: white;
}

/* Info Cards */
.home-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 60px auto;
  flex-wrap: wrap;
  max-width: 900px;
}

.home-card {
  background: white;
  color: #0c4b2b;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.home-card:hover {
  transform: translateY(-5px);
}
